@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url('http://fonts.cdnfonts.com/css/akira-expanded');

* {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; 
}

#website-not-ready{
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  top: 280px;
  left: 100px;
}

.socials{
  text-align: center;
  display: inline-block;
}

.socials a{
  color: #fff;
  position: relative;
  top: 80px;
  font-size: 2rem;
  margin: 10px;
  transition: all 0.3s;
  border: 2px #fff solid;
  border-radius: 100%;
  padding: 12px;
}

.fa-instagram{
  position: relative;
  left: 530px;
  top: 224px!important;
}

.fa-instagram:hover{
  color: rgb(163, 0, 163);
}

.fa-youtube{
  position: relative;
  left: 690px;
  top: 142px!important;
}

.fa-youtube:hover{
  color: rgb(255, 0, 0);
}

.fa-github{
  position: relative;
  left: 850px;
  top: 300px!important;
  
}

.fa-github:hover{
  color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(bg.jpg);
  height: 150vh;
  width: 85vw;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px;
  transition: all 0.7s ease;
  top: -1px;
}

.navbar.sticky {
  background-color: rgba(17, 17, 17, 0.918);
  padding: 25px 425px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .menu-list {
  display: inline-flex;
}

nav.navbar ul li a {
  position: relative;
  bottom: 0.2px;
  left: 100px;
}
nav.navbar ul li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(0, 217, 255);
  height: 3px;
  border-radius: 12px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

.logo h1 a {
  color: #fff;
  position: absolute;
  transition: transform .5s;
  top: 20px;
  left: 20px;
}

.icon {
  color: white;
  cursor: pointer;
  font-size: 17px;
  display: none;
}

.icon.menu-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.icon.cancel-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.navbar .menu-list {
  display: inline-flex;
}



.menu-list a {
  font-weight: 600;
  color: rgb(245, 245, 245);
  margin-right: 20px;
  margin-left: 20px;
  font-size: 19px;
}

#intro-text {
  color: #fff;
  display: flex;
  position: absolute;
  top: 120px;
  font-size:50px;
  left: 560px;
}

#intro-text span {
  color: rgb(140, 221, 245);
  transition: all 0.4s;
  margin-left: 8px;
  transition: transform.5s;
}


.logo h1 a:hover {
  cursor: pointer;
  color: rgb(32, 243, 250);
  transform: scale(1.05);
}

.Contact{
  position: absolute;
  right: 80px;
  text-align: center;
  transition: all 0.5s;
  border: 3px solid rgb(146, 212, 255);
  border-radius: 20px;
  background-color: rgb(146, 212, 255);
  color: black!important;
  width: 100px;
  top: 24.3px;
}


.Contact:hover{
  background-color: transparent;
  color: #fff!important;
}

div#About{
  bottom: 200px;
}

  #About h1{
     font-family: 'Akira Expanded', sans-serif; 
     letter-spacing: 4px;  
     color: rgb(224, 245, 255);  
     text-shadow: rgb(0, 0, 0) 4px 0 8px;     font-size: 60px;
     display: flex;
     justify-content: center;
     position: relative;
     top: 70px;
     margin-top: 200px!important;
  }

.img-1{
  width: 300px;
  box-shadow: 15px 15px 15px 1px rgba(221, 220, 220, 0.075);
  margin-left: 40px;
}

.aboutme-container{
  color: #fff;
  position: absolute;
  font-weight: 700;
  box-shadow: 0 0 12px rgba(168, 235, 255, 0.541);
  padding: 11px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 9px;
  width: 600px;
  font-size: 24px;
  left: 470px;
  background: rgb(20, 19, 19);
  bottom: 300px;
  text-align: center;
  transition: 0.5s;
}

h5{
  color: rgb(134, 197, 240);
  position: absolute;
  left: 50px;
  top: 5px;
  font-size: 8px;
}

.anime-pic{
  position: relative;
}

.aboutme-container-2{
  position: absolute;
  top: 480px;
  height: 200px;
}

.aboutme-container-2 a{
  color: rgb(202, 255, 177);
  transition: 0.5s;
}

.aboutme-container-2 a:hover{
  color: rgb(43, 255, 0);
}



/*MEDIA QUERIES (WIDTH)*/

@media (max-width: 1470px) {
  .navbar.sticky {
    padding:  25px 25px 25px 400px!important;
  }
}

@media (max-width: 1374px) {
  .navbar.sticky {
    padding:  25px 25px 25px 350px!important;
  }
}

@media (max-width: 1228px) {
  .navbar.sticky {
    padding:  25px 25px 25px 300px!important;
  }
}

@media (max-width: 1152px) {
  .navbar.sticky {
    padding:  25px 25px 25px 240px!important;
  }
}

@media (max-width: 1032px) {
  .navbar.sticky {
    padding:  25px 25px 25px 180px!important;
  }
}

@media (max-width: 966px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
  }

  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
  }
  .navbar.show .menu-list li a {
    margin-left: -150px;

  }

  .navbar .menu-list .Contact{
    background: none;
    border: none;
    font-weight: 600;
    color: rgb(245, 245, 245)!important;
    font-size: 23px;
    left:146px; 
    top: 315px; 
    margin-left: -20%;
  }
}

  .navbar.show .menu-list .Contact{
    margin-left: 19px;
  }

  @media (max-width: 1396px){
  #intro-text{
    left: 540px;
  }

  .socials a{
    right: 200px;
  }

}

  @media (max-width: 1301px){
  #intro-text{
    left: 480px;
  }
}

  
  @media (max-width: 1201px){
  #intro-text{
    left: 430px;
  }
}

  @media (max-width: 1101px){
  #intro-text{
    left: 380px;
  }
}

  @media (max-width: 1032px){
  #intro-text{
    left: 340px;
  }
}


 @media (max-width: 948px){
  #intro-text{
    left: 300px;
  }
 }


  @media (max-width: 880px){
  #intro-text{
    left: 280px;
  }
}

  @media (max-width: 822px){
  #intro-text{
    left: 250px;
  }
}

  @media (max-width: 759px){
  #intro-text{
    left: 230px;
  }
}

  @media (max-width: 705px){
  #intro-text{
    left: 176px;
  }
}

  @media (max-width: 680px){
  #intro-text{
    left: 160px;
  }
}

  @media (max-width: 602px){
  #intro-text{
    left: 137px;
  }
}

  @media (max-width: 560px){
  #intro-text{
    left: 110px;
  }
}

  @media (max-width: 520px){
  #intro-text{
    left: 90px;
  }
}

  @media (max-width: 501px){
  #intro-text{
    left: 80px;
  }
}

  @media (max-width: 478px){
  #intro-text{
    left: 68px;
  }
}

  @media (max-width: 468px){
  #intro-text{
    left: 58px;
  }
}

  @media (max-width: 438px){
  #intro-text{
    left: 50px;
  }
}

  @media (max-width: 404px){
  #intro-text{
    font-size: 2.6rem;
    top: 150px;
    left: 60px;
  }
}

  @media (max-width: 366px){
  #intro-text{
    left: 47px;
  }
}

  @media (max-width: 350px){
  #intro-text{
    left: 33px;
  }
}

  @media (max-width: 340px){
  #intro-text{
    left: 32px;
  }
}

  @media (max-width: 326px){
  #intro-text{
    font-size: 2.2rem;
    left: 48px;
    top: 150px;
  }
}

@media (max-width: 264px){
  body{
    display: none!important;}
  *{
    background-color: black!important;
    transition: 0.4s;
  }}




/*MEDIA QUERIES (HEIGHT)*/

@media (max-height: 384px){
  .navbar.show .menu-list li a{
    font-size: 18px!important;
    bottom: 60px;
  }
}

@media (max-height: 282px){
  .navbar.show .menu-list li a{
    font-size: 16px!important;
    bottom: 60px;
  }
}

@media (max-height: 262px){
  .navbar.show .menu-list li a{
    font-size: 14px!important;
    bottom: 70px;
  }
}

@media (max-height: 242px){
  .navbar.show .menu-list li a{
    font-size: 13px!important;
    bottom: 86px;
  }
}

@media (max-height: 235px){
  .navbar.show .menu-list li a{
    font-size: 12px!important;
    bottom: 84px;
    left: 10px;
  }

  .navbar.show .menu-list li{
    margin-top: 26px;
    position: relative;
    top: 50px;
    left: 80px;
  }
}

@media (max-height: 215px){
  .navbar.show .menu-list li a{
    bottom: 84px;
    font-size: 20px!important;
    left: 10px;
  }

  .navbar.show .menu-list li{
    margin-top: 17px;
    position: relative;
    top: 50px;
    left: 80px;
  }
}

@media (max-height: 215px){
  body{
    display: none;}
  *{
    background-color: #000;
    transition: 0.4s;}}
